@font-face {
  font-family: 'minecraft'; /* Уникальное имя для шрифта */
  src: url('minecraft.ttf') format('truetype');
  font-weight: normal; /* Укажите вес, например normal, bold */
  font-style: normal; /* Укажите стиль, например normal, italic */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'minecraft', sans-serif;
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Запрещаем скроллинг, пока лоадер активен */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 9999; /* Поверх всего остального */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.loader {
  cursor: pointer;
}

.loader p {
  color: red;
  cursor: pointer;
}
